.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: #31698A;
}

h1 {
  font-family: Georgia;
  font-size: 1.25em;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

a {
   font-family: Georgia;
   font-size: 1.25em;
   text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
   color: black;
   padding: 14px 25px;
   margin-top: 5px;
   margin-right: 3px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

a:hover {
   color: #A52A2A;
}

.hero-title {
  text-align: center;
}

.library {
  flex-wrap: wrap;
}

.link {
  margin-top: -55px;
  text-align: right;
}

.point-description {
  flex-wrap: wrap;
}

.point-title {
  flex-wrap: wrap;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
