.App {
  text-align: center;
}

body {
  background: linear-gradient(50deg, #31698A 50%, #174381 60%);
}

h1 {
  font-family: Georgia;
  font-size: 1.25em;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
}

a {
   font-family: Georgia;
   font-size: 1.25em;
   text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
   color: black;
   padding: 14px 25px;
   margin-top: 5px;
   margin-right: -18px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

#album-title {
  text-align: center;
}

a:hover {
   color: #A52A2A;
}

.hero-title {
  text-align: center;
}

.library {
  flex-wrap: wrap;
}

.link {
  margin-top: -55px;
  text-align: right;
}

.player-bar {
   width: 300px;
   height: 120px;
   margin: 0 auto;
   background: #4c4e5a;
}

.point-description {
  flex-wrap: wrap;
}

.point-title {
  flex-wrap: wrap;
}

img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
}

#album-cover-art {
  width:50%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
